#header {
    display: flex;
    justify-content: space-between;
    border-bottom: 5px solid black;
}

#header #sublogo >img {
    height: 40px;
}

#header #sublogo {
    display: flex;
    align-items: center;
}

#header #category > ul {
    display: flex;
    align-items: center;
}

#header #category > ul > .sep {
    padding: 0;
    width: 3px;
    font-size: 12px;
    height: 22px;
    background-color: #000;
}

#header #category > ul > li {
    display: inline-block;
    font-size: 1.875rem;
    line-height: 40px;
    margin: 5px 0;
    padding: 0px 30px;
    font-family: 'Noto Sans KR',serif;
}

#header #category > ul > li:hover{
    background-color:black;
    color: #fff;
}

.section01 .righttext .texttitle {
    margin: 50px auto;
    font-size: 50px;
    line-height: 100px;
    letter-spacing: 5px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    font-family: 'Noto Sans KR',serif;
}

.section01{
    max-width: 1000px;
    margin: 30px auto;
    height: 620px;
    border-bottom: 1px dotted #333333;
    
}


.section01 .righttext .spacer{
    width: 100px;
    height: 2px;
    background: #333333;
    margin: 0 auto;
    
}

.section01 .righttext .textinfo{
    margin: 30px auto;
    font-size: 150%;
    line-height: 180%;
    display: table;
}


.section02{
    max-width: 1000px;
    margin: 30px auto;
    height: 620px;
    border-bottom: 1px dotted #333333;

}


.section02 .tittle{
    margin: 50px auto;
    font-size: 50px;
    line-height: 100px;
    letter-spacing: 5px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    font-family: 'Noto Sans KR',serif; 
}

.section02 .philosophy{
    position: relative;
    width: 33.3%;
    margin: 20px auto;
    float: left;
    text-align: center;
}

.section02 .philosophy .texts .texttitle{
    margin: 20px auto;
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 800;
}

.section02 .philosophy .texts .spacer{
    width: 100px;
    height: 2px;
    background: #333333;
    margin: 0 auto;
}

.section02 .philosophy .texts .subtitle{
    margin: 20px auto 30px auto;
}

.section02 .philosophy .texts .textinfo{
    width: 65%;
    margin: 30px auto;
    text-align: left;
}

.section02 .philosophy .texts .viewbnt {
    color: #000;
    width: 30%;
    padding: 10px 30px 10px 30px;
    border: 1px solid #000;
    
    
}

.section03{
    max-width: 1000px;
    margin: 45px auto;
}

.section03 .mapinfo .texttitle {
    width: 95%;
    margin: 20px auto;
    font-size: 35px;
    letter-spacing: 5px;
    font-weight: 800;
}

.section03 .mapinfo .textinfo {
    width: 95%;
    margin: 30px auto;
    font-size: 90%;
    line-height: 150%;
}

.section03 .mapinfo .textinfo span {
    font-weight: 800;
}


#footer {
    position: relative;
    width: 100%;
    height: 600px;
    background: #000;
}


#bottommenu {
    font-size: 60px;
    display: flex;
    align-items: center;
    height: 300px; 
    justify-content:space-around;
   
}

#bottommenu div {
    color: #fff;
    font-size: 40px;
    padding: 0 30px;
    text-transform: uppercase;
    
}

#bottommenu div:hover{
    background-color:#000;
    color:peru ;
}

.ceo {
    position: absolute;
    width: 100%;
    height: 100px;
    left: 0px;
    bottom: 250px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    font-family: 'Noto Sans KR',serif;
    font-weight: 500;
    
  }
  
  .address {
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 200px;
    font-size: 18px;
    color: #fff;
    text-align: center;
  }
  
  .tell {
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 150px;
    font-size: 34px;
    color: #fff;
    text-align: center;
    font-family:'Noto Sans KR',serif;
    font-weight: 500;
  }
  .underlogo{
    position: absolute;
    width: 100%;
    top: 450px;
    font-size: 100px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-style: italic;
  
  }