body, 
ul {
  margin: 0;
  padding: 0;

  font-family: "Anton", sans-serif;
  color: #000;
  background: #e9e9e9;
}

#header {
  display: flex;
  justify-content: space-between;
  border-bottom: 5px solid black;
}

#header #sublogo {
  display: flex;
  align-items: center;
}

#header #sublogo > img {
  height: 40px;
}

#header #category > ul {
  display: flex;
  align-items: center;
}

#header #category > ul > .sep {
  padding: 0;
  width: 3px;
  font-size: 12px;
  height: 22px;
  background-color: #000;
}

#header #category > ul > li {
  display: inline-block;
  font-size: 1.875rem;
  line-height: 40px;
  margin: 5px 0;
  padding: 0px 30px;
}

#header #category > ul > li:hover {
  background-color: #000;
  color: #fff;
}

#category {
  display: flex;
  justify-content: flex-start;
}

#subtitle {
  font-size: 140px;
  text-align: center;
  border-bottom: solid 4px #000;
}

#subsection {
  margin-left: 200px;
}

.content-container {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 10px;
  font-size: 30px;
}

.content-container .content-menu {
  color: #000;
  font-size: 25px;
  line-height: 50px;
  font-weight: 400;
  border-right: solid 1px #000;
}

.content-container .content-menu > ul > li {
  list-style: none;
  border-bottom: 1px solid #000;
  padding-left: 50px;

}

.content-container .content-menu > ul > li:hover {
  padding-left: 60px;
  transition: all 0.3s;
}

.content-container > .content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  
}

.content-container .content .content-item {
  display: flex;
  flex-direction: column;

  border-right: 1px solid black;
  border-top: 1px solid black;
}

.content-container .content .content-item > div {
  margin: 30px auto;
  width: 80%;
}

.content-container .content .content-item > div > .img-container {

}

.content-container .content .content-item img {
  width: 100%;
  border: 1px solid black;
}

.content-container .content .content-item .description .engname {
  color: #000;
  font-weight: 900;
  line-height: 30px;
  font-size: 22px;
  text-transform: uppercase;
  font-family: 'Noto Sans KR',serif;
  letter-spacing: -1px;
}

.content-container .content .content-item .description .summury {
  color: #000;
  line-height: 18px;
  font-weight: 400;
  font-size: 11px;
}

.content-container .content .content-item .description .korname {
  line-height: 25px;
  font-size: 11px;
}
